extends layout

block content
  .container-fluid.container-flex
    .row.intro-heading
      h3.heading Slow bandwidth impacts digital learning in the classroom.
      p Our children are trying to learn skills for tomorrow with dial-up speeds of the past.
      p Experience what it feels like.
    .row.video-row
      .row.bandwidth-filter
        .col-md-2
        .col-md-4.filters#select-bandwidth
        .col-md-2
      .row
        p.current-bandwidth-sentence Current bandwidth in <span id='district-name'></span>: <span><span class='district-bw'></span> kbps/student</span>
      .row.toggle-video#video-row
        .watch-video-row.col-md-10.col-md-offset-2
          .current-video-speed-bar
            p.video-is-playing.col-md-8 This video is playing at <strong><span class='district-bw'></span> kbps/student</strong>. 
            p.experience-other-dropdown.col-md-4 Experience other speeds
              span.glyphicon.glyphicon-chevron-down.down-arrow
          video#video-player(width="800" height="420")
            source.mp4(src="" type="video/mp4")
          .time-spent-playing
            p.time-spent-sentence Time spent playing<br>this 20 second video:
            p.timer
          .experience-other-speeds
            p.description To see how a student might experience bandwidth differently, explore by clicking on the various tiers of bandwidth availability
            dl.bandwidth-bar-chart
              dd.bandwidth.bandwidth-50
              dd.bandwidth.bandwidth-40
              dd.bandwidth.bandwidth-30
              dd.bandwidth.bandwidth-20
              dd.bandwidth.bandwidth-10
            button.btn.btn-default#video-play-button Play Now
              i.glyphicon.glyphicon-play.pull-left
          .kill-screen
            p Time spent watching this 20 second video:
            p.time-spent 00:48:03
            p.number-hours The number of learning hours lost yearly if every student<br>in this district watched a similar video every day:
            p.calculated-lost-time
        .compare-connect-row
          button.btn.btn-default.compare-connect-btn Compare &amp; Connect K-12
    .row.learn-more-row
      p.learn-more-expand Learn More
        span.glyphicon.glyphicon-chevron-down.learn-more-arrow
