extends layout

block content
  .container-fluid.container-flex#root
    .row.intro-heading
      h3.heading Slow bandwidth impacts digital learning in the classroom.
      p Our children are trying to learn skills for tomorrow with dial-up speeds of the past.
      p Experience what it feels like.
    .row.video-row#root
    .row.learn-more-row
