doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="/javascripts/jquery.min.js")
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/moment.min.js')
    script(src='/javascripts/district-selectors.js')
    script(src='/javascripts/application.js')
    script(src='/javascripts/bundle.js')
  body
    div#header
      nav.navbar.navbar-default.esh-navbar.navbar-fixed-top
        .container#header-container
          .navbar-header
            a(href='www.educationsuperhighway.org')
              img#esh-logo(src='images/logo.png')
    block content
