@font-face { font-family: "Museo-Slab"; src: url('/fonts/Museo_Slab_500_2.otf'); }
@font-face { font-family: "Lato"; src: url('/fonts/Lato-Regular.ttf'); }

body {
  padding-top: 100px;
  font: 14px "Museo-Slab", "Lato", Helvetica, Arial, sans-serif !important;
}

a {
  color: #00B7FF;
}

#esh-logo {
  margin: 20px 0 20px 30px;
  max-width: 100%;
  display: block;
  height: 50px;
}

.container-flex {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.intro-heading {
  padding-left: 15%;
}
.video-row {
  background-color: #EAE8EA;
}

.bandwidth-filter {
  padding-top: 30px;
  padding-bottom: 30px;
}

.experience-other-speeds {
  background-color: #484848;
  opacity: 0.95;
  width: 800px;
  height: 410px;
}

.kill-screen {
  /*display: block;*/
  font-family: "Lato" !important;
  font-size: 28px;
  background-color: #484848;
  color: white;
  opacity: 0.95;
  width: 800px;
  height: 410px;
  padding: 55px;
  text-align: center;
}

.time-spent{
  text-align: center;
  font-size: 48px;
}
.calculated-lost-time{
  text-align: center;
  font-size: 48px;
}

.number-hours { padding-top: 75px; }

.video-is-playing {
  padding-top: 5px;
}
.experience-other-dropdown {
  text-align: right;
}

.description {
  width: 50%;
  margin-left: 40px;
  color: white;
}

.current-video-speed-bar {
  width: 800px;
  height: 25px;
  background-color: #484848;
  color: white;
}

dl.bandwidth-bar-chart {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  position: relative;
  padding: 20px;
}

.bandwidth {
  font-size: .8em;
  line-height: 1;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  margin-left: 20px;
  border-left: 1px solid black;
}

.bandwidth:after {
  content: "";
  display: block;
  background-color: #9b9b9b;
  width: 50px;
  margin-bottom: 10px;
  height: 90%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color .3s ease;
  cursor: pointer;
}

.bandwidth-20:after {
  width: 20%;
  content: ""
}
.bandwidth-30:after {
  width: 30%;
}
.bandwidth-40:after {
  width: 40%;
}
.bandwidth-50:after {
  width: 50%;
}
.bandwidth-10:after {
  width: 10%;
}
.bandwidth-5:after {
  width: 5%;
}

.down-arrow {
  margin: 5px;
  cursor: pointer;
}

#video-play-button {
  width: 195px;
  padding: 10px;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 70%;
  background: #FFFFFF;
  border: 1px solid #009291;
  color: #009291;
  border-radius: 5px;
}

.inactive-play-button {
  background: #EAE8EA !important;
  border: 1px solid #4A4A4A !important;
  border-radius: 5px !important;
  cursor: default !important;
  pointer-events: none;
}
.active-play-button {
  background: #FFFFFF !important;
  border: 1px solid #009291 !important;
  color: #009291 !important;
}

#filter-play-button {
  width: 195px;
  padding: 10px;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px;
}
/*yellow: #FDB913*/
/*green: #009296 */
/*charcoal: #484848 95% transparency */
/*background gray: #EAE8EA */
/*bar gray: #9b9b9b */
/*inactive play */
/*background: #EAE8EA ;
border: 1px solid #4A4A4A ;
border-radius: 5px;*/
/*active play*/
/*background: #FFFFFF ;
border: 1px solid #009291 ;
border-radius: 5px;*/
.current-bandwidth-sentence {
  padding-top: 20px;
  text-align: center;
}

.current-bandwidth-sentence > span {
  color: #009296;
  font-weight: bold;
}

.state { margin-bottom: 10px; }
.district { margin-top: 10px; }
.speed {
  text-align: right;
  width: 40%;
}

.compare-connect-row {
  margin-bottom: 20px;
  margin-left: 17%;
}
.compare-connect-btn {
  background-color: #FDB913 !important;
  width: 400px;
  text-transform: uppercase;
  margin: 20px;
  border: 1px solid #FF9400;
  border-radius: 4px;
  margin-left: 205px;
}

.watch-video-row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.learn-more-row {
  background-color: #9B9B9B;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  color: white;
  height: 50px;
}

.learn-more-expand {
  padding: 15px;
}

.learn-more-arrow {
  padding: 5px;
}

video {
}

.time-spent-playing {
  font-family: "Lato", sans-serif !important;
  font-size: 16px;
  letter-spacing: 1px;
  position: absolute;
  color: black;
  background-color: rgba(215,215,215,0.85);
  border: 1px solid #979797;
  opacity: 85%;
  width: 200px;
  height: 135px;
  z-index: 1;
  top: 40px;
  left: 610px;
  padding: 15px;
}

.timer {
  font-size: 32px;
  text-align: center;
}

.sticky-bottom {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
}
